{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
	<div class="row">
		<div class="well">
	<h3>
	<small class="pull-right">{{post.getCreatedAt | date('d M, Y') }}</small>
	{{ post.getTitle() }}
	</h3>
	
	<p>
	{{ post.getDescription }}
	</p>
		</div>
	</div>
</div>
{% endblock %}